{% extends "blog_base.html" %}

{% block page_content %}
{% load static %}

<div class="row" >

    <!---
    <div class="row" style="margin: 3 auto;">
      <h1 style="text-align: center;" >{{ post.title }}</h1>
    </div>
    -->



    <!-- <p>{{ post.body | linebreaks }}</p> -->
    <!-- <iframe src="{% static "psyche.pdf" %}" width="250%" height="2000px">
    </iframe> -->
    <img src="{% static "img/psyche_image-1.png" %}" width="150%" height = "150%" >
    <img src="{% static "img/psyche_image-2.png" %}" width="150%" height = "150%">
    <img src="{% static "img/psyche_image-3.png" %}" width="150%" height = "150%">
    <img src="{% static "img/psyche_image-4.png" %}" width="150%" height = "150%">
    <img src="{% static "img/psyche_image-5.png" %}" width="150%" height = "150%">
    <img src="{% static "img/psyche_image-6.png" %}" width="150%" height = "150%">
    <img src="{% static "img/psyche_image-7.png" %}" width="150%" height = "150%">
    <!-- <embed src="{% static "psyche.pdf" %}" width="200%" height="2100px" /> -->



</div>

{% endblock %}
