{% load static %}

    <style> #myRow{
            margin:3 auto;
            margin-bottom:50px;
          } 
  #RowDoc{
            width: 50%;
            margin: 3 auto;
            padding: 24px;
            border: 1px solid black;
            text-align: left;
  }
          div.a{
            text-align: center;
            margin-top: 50px;
              }

      </style>

    <div id="myRow" class = "row">
      <h1> Snake and FlappyBird</h1>
    </div>
    <div>
      <img src = "{% static "img/snake.gif" %}">
      <img src = "{% static "img/bird.gif" %}" >
    </div>

  <!--
      <div class = "a">
        <h1> Documentation </h1>
      <div>
    {% block showoff %}
  <div id="RowDoc" class = "row">
      {% include "README_darwin.md.html" %}
    {% endblock %}
  </div>
  -->
