{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="80%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <h5>Link to github:</h5>
        <p><a href = {{project.link}}>{{ project.link }}</a></p>
    </div>
    <style>#myRow{
        margin: 3 auto;
        margin-top: 30px;
        border: 1px solid black;
        }
        #myRow2{
        margin: 3 auto;
        margin-top: 30px;
        }

    </style>
    <br>
    <div id="myRow2" class = "row">
      <h1>Screenshot:</h1>
    </div>
    <div id="myRow" class = "row">
      <img src = "{% static "img/CifraVirtual.png" %}" width="100%">
    </div>

</div>
{% endblock %}
