{% extends "base.html" %}
{% load static %}
{% block page_content %}
<style>
h1 {
	text-align:center;
}
#font1{
  font-family:Times New Roman;
}
.boxed.two{
  border: 3px solid black;
  margin: 20px;
  padding: 20px;

}
</style>
<i><h1 style = "margin-top:10px;" id=font1 >Projetos</h1></i>
<hr>
<div class="row">

{% for project in projects %}
    <div class="col-md-4 text-center">
    <div class="boxed two">
        <div class="card border-light mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title" id ="font1">{{ project.title}}</h5>
                <p class="card-text" id = "font1">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.title|cut:" " %}"
                   class="btn btn-outline-dark">
                    Read More
                </a>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
