{% extends "base.html" %}
{% load static %}



{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="80%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <h5>Link to github:</h5>
        <p><a href = {{project.link}}>{{ project.link }}</a></p>
    </div>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <style>

        #mapid { width: 1100px; height: 800px; }

    </style>

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

      <style> #myRow{
            margin: 0 auto;
            padding: 5px;
          }
      </style>
      <div class="row" id="myRow">
        <input id="data" size="60">
        <button id="btn">Get Bus Line</button>
      </div>
      <div id="mapid"></div>

    <script>


    var mymap = L.map('mapid').setView([-22.94, -43.18], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);
5
var data = {{buses|safe}};
console.log(typeof(data));
var layerGroup = L.layerGroup().addTo(mymap);

function clicked(){

  layerGroup.clearLayers();
  var input_value = document.getElementById('data').value;
  for(i=0; i < data.length; i++){
    var name = parseInt(data[i][0]);
      if (name === parseInt(input_value)){
        console.log(name)
        let lat  = parseFloat(data[i][1]);
        let lon  = parseFloat(data[i][2]);
        console.log(lat,lon);
        console.log(typeof(lat));
        L.marker([lat,lon]).addTo(layerGroup)
    }
  };
}

document.getElementById('btn').addEventListener('click', clicked);;


    </script>


</div>



{% endblock %}
