{% extends "base.html" %}
{% load static %}



{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <link rel="stylesheet" type="text/css" href="{% static "bus.css" %}">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="80%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <h5>Link to github:</h5>
        <p><a href = {{project.link}}>{{ project.link }}</a></p>
    </div>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

      <div class="row" id="myRow">
        <input id="data" size="60" placeholder="Enter a bus line, Ex: 410">
        <button id="btn">Find Buses from Line</button>
        <button id="homeBtn">Center me Home!</button>
      </div>
      <div id="mapid"></div>

    <script> var busData = {{buses|safe}}; </script>
    <script src="{% static "bus.js" %}"> </script>
      


</div>



{% endblock %}
