{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="80%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <h5>Link to github:</h5>
        <p><a href = {{project.link}}>{{ project.link }}</a></p>
    </div>


  <style> #MyRow{
            width: 50%;
            margin: 3 auto;
            padding: 24px;
            border: 1px solid black;
            text-align: left;
  }
          div.a{
            text-align: center;
            margin-top: 50px;
              }
  </style>
  <br>
      <div class = "a">
        <h1> Documentation </h1>
      <div>
    {% block showoff %}
  <div id="MyRow" class = "row">
      {% include "README_carioca.md.html" %}
    {% endblock %}
  </div>

</div>





{% endblock %}
